<?xml version="1.0"?>
<!--
/**
 * @category    WeltPixel
 * @package     WeltPixel_LayeredNavigation
 * @copyright   Copyright (c) 2018 Weltpixel
 * @author      Weltpixel TEAM
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="weltpixel_layerednavigation" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="210"
                 translate="label">
            <label>Layered Navigation Pro</label>
            <tab>weltpixel</tab>
            <resource>WeltPixel_LayeredNavigation::LayeredNavigation</resource>

            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General Settings</label>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label"
                       type="select">
                    <label>Enable Layered Navigation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable WeltPixel Layered Navigation.</comment>
                </field>

                <field id="ajax" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                       translate="label" type="select">
                    <label>Enable Ajax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Ajax Layered Navigation.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="sidebar" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Sidebar Settings</label>
                <field id="info_message" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\LayeredNavigation\Block\Adminhtml\System\Config\InfoMessage</frontend_model>
                </field>
                <field id="sb_style" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Sidebar Style</label>
                    <source_model>WeltPixel\LayeredNavigation\Model\Config\Source\SidebarStyle</source_model>
                    <comment><![CDATA[Select the preferred style for the Layered Navigation sidebar block. <br/>
                                If one of the 'Slide In' or 'Slide Down' option is selected, the 'Compare Products' and 'Wish List' blocks will be removed from the sidebar.
                            ]]>
                    </comment>
                    <depends>
                        <field id="weltpixel_layerednavigation/general/enable">1</field>
                    </depends>
                </field>

                <field id="slide_down_columns" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Columns No.</label>
                    <source_model>WeltPixel\LayeredNavigation\Model\Config\Source\SlideDownFilterColumns</source_model>
                    <tooltip>Set the number of columns to appear in slide down box / 1 line.</tooltip>
                    <comment>Number of columns to appear in Slide Down Filter Box in 1 line.</comment>
                    <depends>
                        <field id="sb_style">2</field>
                    </depends>
                </field>

                <field id="slide_down_height" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Filter Box Height</label>
                    <comment>Slide Down Filter Box Height. Eg.500px</comment>
                    <tooltip>Set the height of slide down box.</tooltip>
                    <depends>
                        <field id="sb_style">2</field>
                    </depends>
                </field>


                <field id="filter_column_height" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Filter Column Height</label>
                    <comment>Slide Down Filter Column Height. Eg.250px</comment>
                    <tooltip>Set the height of the filter options column.</tooltip>
                    <depends>
                        <field id="sb_style">2</field>
                    </depends>
                </field>

                <field id="compare_block" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show Compare Products block</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide Compare Products block from sidebar.</comment>
                    <depends>
                        <field id="sb_style">0</field>
                    </depends>
                </field>

                <field id="wishlist_block" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show Wish List block</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide Wish List block from sidebar.</comment>
                    <depends>
                        <field id="sb_style">0</field>
                    </depends>
                </field>

                <field id="category_block" translate="label" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show Category Filter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide Category Filter section from Layered Navigation sidebar.</comment>
                    <depends>
                        <field id="weltpixel_layerednavigation/general/enable">1</field>
                    </depends>
                </field>

                <field id="filter_button" translate="label" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Filter Button</label>
                    <source_model>WeltPixel\LayeredNavigation\Model\Config\Source\FilterButton</source_model>
                    <comment>Select the preferred style for the Layered Navigation filter button.</comment>
                    <depends>
                        <field id="sb_style" separator=",">1,2</field>
                    </depends>
                </field>
                <comment>
                    <![CDATA[
                        <script type="text/javascript">
                            require(['jquery', 'domReady!'], function(){
                                if (jQuery('#weltpixel_layerednavigation_general_enable').val() != 1){
                                     jQuery('#weltpixel_layerednavigation_sidebar').closest('.section-config').hide();
                                }
                                jQuery('#weltpixel_layerednavigation_general_enable').on('change', function(){
                                    if (this.value != 1){
                                        jQuery('#weltpixel_layerednavigation_sidebar').closest('.section-config').hide();
                                    } else {
                                        jQuery('#weltpixel_layerednavigation_sidebar').closest('.section-config').show();
                                    }
                                })
                            });
                        </script>
                    ]]>
                </comment>

                <field id="price_filter" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price Filter</label>
                    <source_model>WeltPixel\LayeredNavigation\Model\Config\Source\PriceFilter</source_model>
                    <comment><![CDATA[
                    Select the preferred style for the Layered Navigation price filter.<br />
                    Note: If Price Filter is set to “Slider“, the ‘Stores > Configuration > Catalog > Catalog > Layered Navigation > Price Navigation Step Calculation’ setting is ignored.
                    ]]>
                    </comment>
                </field>

                <field id="price_filter_input" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show Price Slider With Input</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show price slider with input.</comment>
                    <depends>
                        <field id="price_filter" separator=",">2</field>
                    </depends>
                </field>

                <field id="auto_close_sidebar" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="85" translate="label"
                       type="select">
                    <label>AutoClose Sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to AutoClose Sidebar after each filtering.</comment>
                    <depends>
                        <field id="sb_style" separator=",">1,2</field>
                    </depends>
                </field>

                <field id="rating_filter" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label"
                       type="select">
                    <label>Enable Rating Filter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Rating Filter.</comment>
                    <depends>
                        <field id="weltpixel_layerednavigation/general/enable">1</field>
                    </depends>
                </field>

                <field id="rating_filter_name" translate="label" type="text" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Rating Filter Name</label>
                    <comment>Rating Filter Name</comment>
                    <depends>
                        <field id="rating_filter">1</field>
                    </depends>
                </field>

                <field id="rating_filter_display" translate="label" type="select" sortOrder="110" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <source_model>WeltPixel\LayeredNavigation\Model\Config\Source\RatingFilterDisplay</source_model>
                    <label>Rating Filter Display Options</label>
                    <comment>Rating Filter Display Options</comment>
                    <depends>
                        <field id="rating_filter">1</field>
                    </depends>
                </field>

                <field id="rating_filter_position" translate="label" type="text" sortOrder="120" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Rating Filter Position</label>
                    <comment>Rating Filter Position</comment>
                    <depends>
                        <field id="rating_filter">1</field>
                    </depends>
                </field>

                <field id="rating_filter_multiselect" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="130" translate="label"
                       type="select">
                    <label>Rating Filter Multiselect</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Is Rating Filter multiselect.</comment>
                    <depends>
                        <field id="rating_filter">1</field>
                    </depends>
                </field>
                <field id="rating_filter_counter" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label"
                       type="select">
                    <label>Show Rating Filter Counter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide Rating Filter counter.</comment>
                    <depends>
                        <field id="rating_filter">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
